.SidebarCont {
    background: #574FD8;
    /* border-radius: 20px; */
    box-shadow: 0 0 5px #ccc;
    position: fixed;
    width: 22%;
    top: 0px;
    /* left: 50px; */
    min-height: 700px;
  }
  
  /* .Divider { */
    /* border-top: 1px solid #ccc; */
    /* margin-top: 20px; */
  /* } */
  