.PreviewContainer{
 width: 95%;
 margin: auto;
 /* background-color: #f7e6e2; */
 padding-top: 50px;
 padding-bottom: 30px;
 
}
.mobile{
    display: none;
}
.PreviewContainer img{
    max-width: 40%;
    height: auto;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.MusicPlay{
    display: block;
    text-align: center;
}
.Controls{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.Controls i{
font-size: 35px;
}
.Controls .fa-play-circle{
font-size: 35px;
}
.Controls .fa-step-forward{
font-size: 25px;
}
@media screen and (max-width: 750px){
/* .web{
display: none;
}  */
.PreviewContainer img{
    width: auto;
    height: auto;
    }
    /* .mobile{
        display: block;
    } */
    .Controls{
    position: fixed;
    bottom: 0;
    left: 25%;
    border: 1px solid #ededed;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    padding: 10px 100px;
    max-width: 100%;
    }
}
