.SubTitles{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SubTitles h3{
    color: #CECEDC;
    font-weight: 600;

}
.SubTitles .Line{
    width: 500px;
    border-color: 5px solid #000;
}
.ArrowLeft,
.ArrowRight{
   color: #CECEDC;
}
.CardDisplay{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    height: auto;
    row-gap: 30px;

}
.Card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 150px;
  }
  .Card img{
      width: 100%;
  }
  /* .Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
  .Text{
    color:#39383D;
    text-align: center;
    padding: 2px 16px;

  }
  h6{
      margin: auto;
      text-align: center;
  }
  @media screen and (max-width: 420px){
    .CardContainer{
      flex-wrap: wrap;
    
    }
    
}